/*MAIN INICIO*/
main{
    section{
        .portada-fija{
            display: none;
            .contenedor-portada{
                position: relative;
                width: 100%;
                @include flex(flex, center, center, column);
                img{
                    width: 100%;
                }
            }
        }
    }
}
section{
    .container-grande{
        width: 65%;
        background-color: white;
        @include flex(flex, center, center, column);
        padding: 3px;
        margin: 20px auto;
        border-radius: 5px;
        h2{
            font-size: 20px;
            text-align: center;
        }
        .container-de-publicaciones{
            max-width: 98%;
            min-width: auto;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
            padding: 4px;
            color: black;
            background: white;
            .card-publicacion{
                @include flex(inline-flex, space-between, center, column);
                width: 200px;
                height: 300px;
                margin-right: 3px;
                vertical-align: top;
                color: white;
                border: solid white;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: $sombra;
                &:hover{
                    box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.527);
                    transform: scale(1.01);
                }
                img{
                    width: 99%;
                    height: 180px;
                }
                a{
                    text-wrap: wrap;
                    text-align: center;
                    font-size: 18px;
                    text-decoration: none;
                    color: black;
                }
                h3{
                    text-align: center;
                    font-size: 20px;
                    color: black;
                }
            }
            .oferta{
                .precio-normal{
                    @extend %precio-tachado;
                }
            }
        }
    }
}
/*MAIN TIENDA*/

main{
    section{
        .main-tienda{
            @include flex(flex,flex-start,stretch,row);
            .grid-contenedor{
                background-color: white;
                flex-grow: 1;
                border: solid 2px $color-terciario;
                margin: 5px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 15px;
                padding: 15px;
                .grid-item, .oferta{
                    @include flex(inline-flex,space-between,center,column);
                    height: 300px;
                    margin-right: 3px;
                    vertical-align: top;
                    color: white;
                    border: solid white;
                    box-shadow: $sombra;
                    &:hover {
                        box-shadow: $sombra-hover;
                        transform: scale(1.02);
                    }
                    img{
                        width: 195px;
                        height: 195px;
                    }
                    a{
                        text-wrap: wrap;
                        text-align: center;
                        font-size: 18px;
                        text-decoration: none;
                        color: black;
                    }
                    h3{
                        text-align: center;
                        font-size: 20px;
                        color: black;
                    }
                    .precio-normal{
                        @extend %precio-tachado;
                    }
                    .precio-oferta{
                        text-align: center;
                        font-size: 20px;
                        color: black;
                    }
                }
            }
        }
    }
}

/**MAIN NOSOTROS**/
main{
    .texto-nosotros{
        padding: 5%;
        color: white;
        font-size: 100%;
        display: flex;
        align-items: center;
        img{
            margin-right: 15px;
        }
        div{
            margin-left: 15px;
            p{}          
        }
    }
}

/**MAIN CONTACTO**/
main{
    .main-contacto{
        @include flex(flex,space-around,center,row);
        margin-top: 40px;
        margin-bottom: 40px;
        .medios{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
                flex-wrap: wrap;
            }
            iframe{
            }
        }
        section{
            .mensaje-direct{
                @include flex(flex,flex-start,stretch,column);
                .form-top{
                    display: flex;
                    justify-content: space-evenly;
                    input{
                        @extend %forms-style;
                        margin: 2px;
                    }
                }
                .asunto{
                    input{
                        @extend %forms-style;
                    }
                }
                .area-texto{
                    textarea{
                        @extend %forms-style;
                    }
                }
                .boton-enviar{
                    input{
                        @extend %forms-style;
                    }
                }
                p{

                }
            }
        }
    }
}

/*MAIN BLOG*/

main{
    section{
        .boxs-blog{
            width: 100%;
            margin-top: 2%;
            margin-bottom: 2%;
            @include flex(flex,center,center,row);
            flex-wrap: wrap;
            .contenedor-box{
                position: relative;
                width: 400px;
                height: 400px;
                overflow: hidden;
                &:hover .box1-blog{
                    width: 0%;
                }
                .box1-blog{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $color-secundario;
                    border: solid 1px white;
                    transition:  width 3s ease;
                    z-index: 2;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .box2-blog{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $color-terciario;
                    z-index: 1;
                    @include flex(flex,center,center,column);
                    p{
                        margin-left: 3%;
                        margin-right: 3%;
                        font-weight: bold;
                        text-align: center;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                        &:hover{
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
}
