@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**VARIABLES**/
$color-principal:#FE3A4A;
$color-secundario:#FEC501;
$color-terciario:#20B2AA;
$sombra:0 4px 6px rgba(0, 0, 0, 0.1);
$sombra-hover:3px 8px 12px rgba(0, 0, 0, 0.527);

//*EXTENDS*//
%forms-style{
    border: solid $color-secundario 2px;
    font-style: italic;
    padding: 11px;
    width: 98%;
    letter-spacing: 1px;
}
%precio-tachado{
    font-size: 12px;
    text-decoration: line-through;
    color: gray;
}

/*MIXINS*/
@mixin flex($flex,$justify,$align,$direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: $color-principal;
}


/*HEADER BOOSTRAP*/
.fondo-header {
    background-color: $color-secundario !important;
    border: none !important;
    margin-bottom: 0 !important;
}
.logo-header {
    margin-left: 5%;
}
.espacio-busqueda {
    margin-right: 15% !important;
}
/*NAVBAR BOOSTRAP*/
.navbar {
    background-color: $color-secundario !important;
    margin-bottom: 5px;
    margin-top: 5px;
    border-top: solid $color-terciario 4px !important;
    border-bottom: solid $color-terciario 4px !important;
}
.nav-item {
    font-size: 20px !important;
    &:hover {
        box-shadow: 0px 2px 0px $color-principal;
    }
}
/*MAIN INICIO BOOSTRAP*/
.box-carousel{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.img-carousel-grande {
    width: 1500px !important;
    height: 400px !important;
}
.color-btn {
    color: black !important;
    background-color: $color-secundario !important;
    font-size: 25px !important;
    border: none;
    &:hover{
        transform: scale(1.03);
    }
}





